body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 21, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.container {
    text-align: center;
}

/* Contenedor para la cuadrícula */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: none;
    transition: transform 0.3s;
}

/* Efecto hover */
.grid-item:hover {
    transform: scale(1.05);
}

/* Estilos para la imagen */
.grid-item img {
    width: 180px;
    height: auto;
    margin: 0 0 20px; 
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 8px;
}

/* Estilos para el párrafo */
.grid-item p {
    font-size: 18px;
    margin: 5px 0 20px; 
    text-align: center;
}

/* Estilos para los botones */
.grid-item button {
    padding: 12px 25px;
    background-color: #005f99;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; 
    transition: background-color 0.3s, transform 0.3s;
    align-self: center; 
}

.grid-item button:hover {
    background-color: #007acc;
    transform: scale(1.1);
}

footer {
    text-align: center;
    margin-top: auto; /* Empuja el footer al final de la página */
    padding: 20px;

}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: black;
}